<!-- <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Comments</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">jhjklhkljhlkjhjklhjkhkljhkl</th>
        <td>{{oneTicket.fullName}}</td>
        <td>{{secondTicket.fullName}}</td>
      </tr>
    </tbody>
</table>
<form>
    <input class="form-control" type="text">
    <button class="btn btn-warning btn-block mt-3" (click)="createComment" >Leave a comment</button>
</form> -->

