<div style="width: 450px;" class="d-inline-block align-top loginuser">
    <h2 class="display-4">Login</h2>
    <form class="form-group container-fluid p-5 border">
        <label for="email">Email</label>
        <input class="form-control"  name="checkUser.email" [(ngModel)]="checkUser.email">

        <label for="checkUser.password">Password</label>
        <input class="form-control"  name="checkUser.password" [(ngModel)]="checkUser.password">
        
        <input class="btn btn-success btn-block mt-3" type="submit" *ngIf="!inSession == 0" [inSession]='inSession' (click)="userLogin(checkUser)" value="Log in">

    </form>    
</div>