<div class="new-project-form  mx-auto shadow-lg rounded" style="width: 50vw;">
    <form class="p-5 border">
        <label for="">Create project</label>
        <hr>
        <div class="main-sect col mr-5 mx-auto">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group pb-3">
                <label for="">Description</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>
            <hr>
            <div class="form-group">
                <label for="">Due Date</label>
                <input type="date" class="form-control form-control-sm" id="">
            </div>
            <div class="form-group">
                <label for="ProjectName">Priority</label>
                <select class="custom-select custom-select-sm" name="" id="">
                    <option selected>Select Priority</option>
                    <option value="projects">High</option>
                    <option value="projects">Medium</option>
                    <option value="projects">Low</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="m-3 col-sm-5 btn btn-dark mx-auto">Submit</button>
            <button type="submit" class="m-3 col-sm-5 btn btn-dark mx-auto">Cancel</button>
        </div>
    </form>
</div>