<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <app-generic-page *ngIf="!loggedout"></app-generic-page>
  <div class="container-fluid" *ngIf="loggedout">
    <nav class="navbar navbar-bg fixed-top navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 rounded">
      <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="#">Bug Tracker</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">My Tickets</a>
          </li>
          <div class="dropdown">
            <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img style="width:25px;" src="https://toppng.com/uploads/preview/list-icon-clip-black-and-white-list-add-icon-11553457673u07fbznb2j.png" alt="">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/tracker/ticket/new']">Create Ticket</a>
              <a class="dropdown-item" [routerLink]="['/tracker/project/new']">Create Project</a>
              <a class="dropdown-item" href="#">Manage users</a>
            </div>
          </div>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="search-bar form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="dropdown">
          <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img style="width:25px;" src="https://img.icons8.com/pastel-glyph/2x/person-male.png" alt=""> <a class="text-muted" href=""> My Account</a>
          </a>
          <div id="auth-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/tracker/ticket/new']">My Account</a>
            <a class="dropdown-item" [routerLink]="['/tracker/project/new']">Settings</a>
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
        </div>
      </div>
      
      <!-- This menu is hidden in bigger devices with d-sm-none. 
        The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
        <li class="nav-item dropdown d-sm-block d-md-none">
          <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
            <a class="dropdown-item" href="#">Dashboard</a>
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Tasks</a>
            <a class="dropdown-item" href="#">Etc ...</a>
          </div>
        </li>
        <!-- Smaller devices menu END -->
        
        
      </nav>
      <!-- NavBar END -->
      
      
      <!-- Bootstrap row -->
      <div class="row" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" class="shadow-bottom sidebar-expanded d-none d-md-block col-2">
          <ul id="nav-list" style="height: 45vw" class="list-group shadow-lg pt-4 mt-5 sticky-top sticky-offset">
            <!-- Separator with title -->
            <li id="list-border" class="list-group-item sidebar-separator-title d-flex align-items-center menu-collapsed">
              <h4 class="text-black-50 p-4 mt-3">MAIN MENU</h4>
            </li>
            <!-- /END Separator -->
            <!-- Menu with submenu -->
            <a href="#" class=" list-opacity list-group-item border-bottom list-group-item border-bottom-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-address-card fa-fw mr-3"></span>
                <span class="menu-collapsed text-black">Dashboard</span>
              </div>
            </a>
            <a href="#" class="list-opacity list-group-item border-bottom list-group-item border-bottom-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-calendar fa-fw mr-3"></span>
                <span class="menu-collapsed text-black">Calendar</span>
              </div>
            </a>
            <a href="#" class="list-opacity list-group-item border-bottom list-group-item border-bottom-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-envelope fa-fw mr-3"></span> 
                <span class="menu-collapsed text-black">My Inbox <span class="badge badge-pill badge-primary ml-2">5</span></span>
              </div>
            </a>
            <!-- Separator without title -->
            <!-- <li class="list-group-item border-bottom sidebar-separator menu-collapsed"></li> -->
            <!-- /END Separator -->
            <a href="#" class="list-opacity list-group-item border-bottom list-group-item border-bottom-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-address-book fa-fw mr-3"></span>
                <span class="menu-collapsed text-black">Manage Users</span>
              </div>
            </a>
            <a href="#" class="list-opacity list-group-item border-bottom list-group-item border-bottom-action">
              <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-question fa-fw mr-3"></span>
                <span class="menu-collapsed text-body">Help</span>
              </div>
            </a>
            <!-- Logo -->
            <li class="list-group-item border-bottom logo-separator d-flex justify-content-center" style="height: 100%">
              <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30">
            </li>
          </ul>
        </div>
        
        <!-- MAIN -->
        <div class="col mt-5 py-5 body-bg">
          <router-outlet></router-outlet>
          
          
        </div>
        
        
      </div>
      
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>